@model IEnumerable<Solas.BL.Models.OptionGroup>

@{
    ViewData["Title"] = "AllOptionGroup";
}

<h1>AllOptionGroup</h1>

<p>
    <a asp-action="CreateOptionGroup">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OptionGroupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionGroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OptionGroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionGroupName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
