@model Solas.UI.Models.ViewModels.AllProdectViewModel
@{
    ViewData["Title"] = "All Products";
}



@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- page title area start  -->
<section class="page-title-area" data-background="assets/img/bg/page-title-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-wrapper text-center">
                    <h1 class="page-title mb-10">Shop</h1>
                    <div class="breadcrumb-menu">
                        <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                            <ul class="trail-items">
                                <li class="trail-item trail-begin"><a asp-action="Index" asp-controller="Home"><span>Home</span></a></li>
                                <li class="trail-item trail-end"><span> @ViewData["Title"]</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page title area end  -->
<!-- shop main area start  -->
<div class="shop-main-area pt-120 pb-10">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-12">
                <div class="shop-main-wrapper mb-60">
                    <div class="shop-main-wrapper-head mb-30">
                        <div class="swowing-list">Showing <span>@Model.products.Count()</span> Products</div>
                        <div class="sort-type-filter">
                            <div class="sorting-type">
                              @*   <span>Sort by : </span>
                                <select class="sorting-list" name="sorting-list" id="sorting-list">
                                    <option value="1">Default</option>
                                    <option value="2">Most popular</option>
                                    <option value="3">Date</option>
                                    <option value="4">Trending</option>
                                    <option value="4">Featured</option>
                                    <option value="4">Discounted</option>
                                </select> *@
                            </div>
                            <div class="action-item action-item-filter d-lg-none">
                                <a href="javascript:void(0)" class="view-filter-button">
                                    <i class="flaticon-filter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="products-wrapper products-5-column">
                    
                        @foreach (var product in Model.products)
                        {



                            @*   foreach (var product in item.products)
                        { *@
                            var isNewProduct = (DateTime.Now - product.Createdate).TotalDays <= 7;
                           

                            <div class="single-product">
                                <div class="product-image pos-rel">
                                    @if (product.ProductImages != null && product.ProductImages.Any())
                                    {
                                        <a asp-action="DetailsProducts" asp-controller="Home" asp-route-Id="@product.ProductId" class=""><img src="~/ProductImages/@product.ProductImages.First().ProductImageUrl" alt="img"></a>
                                    }
                                    else
                                    {

                                        <a asp-action="DetailsProducts" asp-controller="Home" asp-route-Id="@product.ProductId" class=""><img src="~/assets/img/product/product-img3.jpg" alt="img"></a>

                                    }
                                    <div class="product-action">
                                        <a asp-action="DetailsProducts" asp-route-Id="@product.ProductId" class="quick-view-btn"><i class="fal fa-eye"></i></a>
                                        <a asp-action="AddWishlist" asp-controller="Order" asp-route-id="@product.ProductId" class="wishlist-btn"><i class="fal fa-heart"></i></a>
                                    </div>
                                    <div class="product-action-bottom">
                                        <a asp-action="AddOrder" asp-controller="Order" asp-route-id="@product.ProductId" class="add-cart-btn">
                                            <i class="fal fa-shopping-bag"></i>Add to
                                            Cart
                                        </a>
                                    </div>


                                    @if (product.Discount != null && product.Discount.DiscountPrecent > 0)
                                    {
                                        <div class="product-sticker-wrapper">
                                            <span class="product-sticker discount"> -@(product.Discount.DiscountPrecent * 100)%</span>
                                        </div>
                                    }

                                    else if (isNewProduct)
                                    {
                                        <div class="product-sticker-wrapper">
                                            <span class="product-sticker new">New</span>

                                        </div>
                                    }
                                  


                                </div>
                                <div class="product-desc">
                                    <div class="product-name"><a asp-action="DetailsProducts" asp-controller="Home" asp-route-Id="@product.ProductId">@product.ProductName</a></div>
                                    @if (product.Discount != null && product.Discount.DiscountPrecent > 0)
                                    {
                                        var discount =( (decimal)product.ProductPrice-((decimal)product.ProductPrice* product.Discount.DiscountPrecent));
                                        <div class="product-price">
                                            <span class="price-now">
                                                JD @(discount)

                                            </span>

                                            <span class="price-old">JD @product.ProductPrice</span>

                                        </div>
                                    }
                                    else
                                    {


                                        <div class="product-price">
                                            <span class="price-now">JD @product.ProductPrice</span>

                                        </div>

                                    }
                                   @*  <ul class="product-color-nav">
                                        @foreach (var item in Model.optionGroups.Where(x=>x.OptionGroupName=="Color"))
                                        {
                                            int i=1;

                                            foreach (var option in Model.options.Where(x => x.OptionGroupId == item.OptionGroupId))
                                            {
                                                string imageurl = product.ProductImages.First(x => x.ProductImageColor == option.OptionName)?.ProductImageUrl;

                                                if (imageurl != null && product.ProductImages != null && product.ProductImages.Any())
                                                {

                                                    <li class="cl-@option.OptionName active">
                                                        <img src="~/ProductImages/@imageurl" alt="img">
                                                    </li>
                                                }

                                            }
                                        }
                                    </ul> *@


                                </div>
                            </div>



                        }





                    </div>

                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="sidebar-widget-wrapper mb-110 d-none d-lg-block">
                    <div class="product-filters mb-50">
                        <div class="filter-widget">
                            <h4 class="filter-widget-title drop-btn">Search</h4>
                            <div class="filter-widget-content">
                                <form asp-action="SearchByProduct" asp-controller="Home" method="post">
                                <div class="filter-widget-search">
                                    <input type="text" name="text" placeholder="Search Products here..">
                                    <button type="submit"><i class="fal fa-search"></i></button>
                                </div>
                                </form>

                            </div>
                        </div>
                        <div class="filter-widget">
                            <h4 class="filter-widget-title drop-btn">Category</h4>
                            <div class="filter-widget-content">
                                <div class="category-items">
                                    @foreach (var cat in Model.categories)
                                    {





                                        <a asp-action="SearchByCategory" asp-controller="Home" asp-route-Id="@cat.CategoryId" class="category-item">
                                            <div class="category-name">@cat.CategoryName</div> <span class="category-items-number">  </span>
                                        </a>



                                    }
                                </div>
                            </div>
                        </div>

                        <form asp-action="AllProducts" method="post">

                            @foreach (var optiongroup in Model.optionGroups)
                            {
                                <div class="filter-widget">
                                    <h4 class="filter-widget-title drop-btn">@optiongroup.OptionGroupName</h4>
                                    <div class="filter-widget-content">
                                        <div class="category-sizes">
                                            @foreach (var option in optiongroup.Options)
                                            {
                                                <div class="category-size">
                                                    <input class="check-box" type="checkbox" id="@option.OptionId" name="selectedOptions" value="@option.OptionId">
                                                    <label class="check-label" for="@option.OptionId">@option.OptionName</label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            <button type="submit" class="btn btn-secondary btn-block mt-4" id="getDataButton">Search</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop main area end  -->
